@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,500&display=swap');
body{
	margin: 0;
	background-color: #212529;
}
a:link{
	text-decoration: none;
}
.header{
display: flex;

font-size: 1.125rem;
justify-content: space-evenly;
font-family: 'Poppins', sans-serif;

}
.text{
padding: 25px;
margin-right: -85px;
margin-left: -85px;
color: #fff;
}
.here_me1{
	padding: 10px;
}
.text:hover{
color:#FFB742;
}
.Iam{
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
    flex-direction: column;
}
.Iam_text{
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
}
.KB{
	color: #FFB742;
   font-family: 'Poppins', sans-serif;
	 font-size: 2rem;
    font-weight: 700;
}
.profession{
font-size: 3rem;
font-weight: 700;
text-transform: capitalize;
color: #fff;
margin-top: 0%;
}
.myself{
	font-size: 1.5rem;
	font-weight: 400;
	text-transform: capitalize;
	color: #fff;
}
.card_project{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	text-align: center;
	height: 100PX;
	color:#fff;
	display: flex;
    justify-content: space-evenly;
	 margin-top: 75px;
}
.card1{
	background-image: url("../img/card.svg");
	height: 145px;
	width: 415px;
	background-repeat: no-repeat;
	color: #fff;
}
.card2{
	background-image: url("../img/card.svg");
	height: 145px;
	width: 415px;
	background-repeat: no-repeat;
	color: #fff;
}
.card3{
	background-image: url("../img/card.svg");
	height: 145px;
	width: 415px;
	background-repeat: no-repeat;
	color: #fff;
}
.orang_namber{
	color:#FFB742;
	font-size: 2rem;
	font-weight: 700;
}
.card_text{
	margin: 0;
}
.heppy{
	position: relative;
	bottom: 60px;
    right: 140px
}
.check-mark{
	position: relative;
	bottom: 60px;
    right: 140px
}
.emblem{
	position: relative;
	bottom: 60px;
    right: 140px
	}
	 .card1:hover{
   background-image: url("../img/rectangle\ 6.svg");
	 }
	 .card2:hover{
		background-image: url("../img/rectangle\ 6.svg");
	 }
	 .card3:hover{
		background-image: url("../img/rectangle\ 6.svg");
	 }

	 .foto{
		position: relative;
		top: 225px;
	 }
	 .who_i_am{
		position: relative;
		bottom: 414px;
   	left: 764px;
		width: 150px;
	 }
	 .about_me{
		color: #fff;
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		font-size: 3rem;
		position: relative;
    	bottom: 420px;
    	left: 765px;
		width: 210px;
	 }
	 .discription{
		width: 529px;
    color: #D4D4D4;
    font-weight: 400;
    position: relative;
    bottom: 406px;
    left: 766px;
	}
	.hire_me2{
		position: relative;
		bottom: 367px;
    	left: 765px;
		width: 150px;
	}
	
	.bacG{
		border: 1px;
		border-radius: 20%;
		width: 80px;
    height: 80px;
    display: block;
	 background-color: #383E45;
	 top: 17px;
    position: relative;
    left: 15px;
	 margin-left: 10px;
	 margin-right: 10px;
}
.bacG:hover{
	background-color: #FFB74280;
}
.icon{
	top: 17px;
    position: relative;
    left: 15px;
}
.icon_namber1{
	display: flex;
	justify-content: flex-end;
    margin-right: 65px;
}
.my_skills{
position: relative;
bottom: 179px;
    left: 137px;
	 width: 150px;
}
.my_skills_text{
	color: #fff;
	font-size: 3rem;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	width: 500px;
    position: relative;
    bottom: 187px;
    left: 142px;
}
.my_skills_text2{
	font-weight: 400;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	width: 600px;
    position: relative;
    bottom: 118px;
    left: 150px;
}
.hire_me3{
	position: relative;
    bottom: 66px;
    left: 147px;
	 width: 150px;
}
.my_works{
	display: flex;
    justify-content: center;
}
.works{
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	font-weight: 700;
	color: #fff;
	text-align: center;
}	
.header_works{
	color: #fff;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	display: flex;
    justify-content: space-evenly;
}
.work_text{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 50px;
    margin-left: -306px;
    margin-right: -306px
}
.work_text:hover{
	border: 0px;
border-radius: 3px;
background-color: #FFB742;
}
.cover{
	display: flex;
	justify-content: space-evenly;
}
.cover1{
	display: flex;
flex-direction: column;
    align-items: baseline;
}
.cover2{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cover3{
	display: flex;
	flex-direction: column;
	align-items: end;
}
.testimonials{
display: flex;	
justify-content: center;
margin-top: 70px;
}
.testimonials_text{
	font-family: 'Roboto', sans-serif;
	font-size: 2.4rem;
	color: #fff;
	font-weight: 700;
	text-align: center;
}
.testimonials_foto{
	display: flex;
	justify-content: space-evenly;
}
.botton{
	background-color: #1C1C1C;
	height: 900px;
	width: 100%;
	margin-top: 200px;
	display: flex;
	justify-content: space-around;
}
.KB_botton{
	color: #D4D4D4;
	font-weight: 600;
	width: 275px;
}

.cap{
	color: #F5FBF2;
	font-size: 1.34rem;
	font-weight: 700;
}
.cap_group{
color: #7B7B7B;
font-weight: 500;
}
.cap_group:hover{
	color: #FFB742;
}
.cap_botton{
	color: #7B7B7B;
font-weight: 500;
}